.username {
    margin-right: var(--spacing);
}

.fa-user {
    margin: var(--nav-link-spacing-vertical);
}

#user-stats {
    color: var(--primary);
    transition: color 0.1s ease;
    cursor: pointer;
    margin-right: var(--nav-link-spacing-vertical);
}

#user-stats:hover {
    color: var(--primary-hover);
}

dialog article {
    width: 50vw;
}

dialog article header {
    margin-bottom: var(--spacing);
}

dialog article table {
    margin-bottom: var(--spacing);
}

#logout-button {
    margin-right: var(--nav-link-spacing-vertical);
}

.activity-indicator {
    margin-top: auto;
    background-color: var(--primary);

    transition: background-color 0.1s ease;
}

.activity-indicator:hover {
    background-color: var(--primary-hover);
}

.activity-indicator-hour {
    position: absolute;
    top: 100%;
    text-align: center;
    left: 10%;
    white-space: pre;
}