.container{
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}
.users-container{
    margin-top: var(--nav-link-spacing-vertical);
    margin-bottom: var(--spacing);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}
.page-link{
    color:rgb(216, 27, 96);
}